@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

:root {
    --mainOrange: #ff770f;
    --fontBlack: rgb(77,75,75);
    --heading: Berkshire Swash, cursive, serif;
}

header{
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;

}

.logo img{
    width: 200px;
}

header .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .toggle-icon{
    background-color: var(--mainOrange);
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

header .fa-bars, header .fa-xmark{
    color: white;
    font-size: 20px;
}

header .right{
    width: 50%;
}

header .right ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}



header .right ul li:not(.org-btn, .active){
    color: var(--fontBlack);
    font-size: 15px;

}

.org-btn{
    padding: 15px 35px;
    background-color: var(--mainOrange);
    border-radius: 30px;
    color: white;
    font-size: 15px;
    transition: all 0.3s;
}
.org-btn:hover{
    background-color: #e26a0e;
}

.active{
    color: var(--mainOrange);
}
.sec1{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../images/sec1main.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.sec1 .content h1{
    font-family: var(--heading);
    color: white;
    font-weight: 500;
    font-size: 150px;
    margin: 30 px 0;
}

.sec1 .content h3{
    color: var(--mainOrange);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}
.sec1 .content h4{
    color: white;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    
}
.sec1.content h4::before{
    content: '';
    position: absolute;
    background-color: white;
    left: -35%;
    top: 50%;
    width: 40%;
    height: 1px;

}
.sec1.content h4::after{
    content: '';
    position: absolute;
    background-color: white;
    right: -35%;
    top: 50%;
    width: 40%;
    height: 1px;

}



@media only screen and (max-width: 950px){
    header{
        flex-direction: column;
        height: auto;
        padding: 0;
    }
    header .left{
        padding: 0 5%;
        width: 100%;
    }
    header .toggle-icon{
        display: block;
    }
    header .right{
        width: 100%;
        background-color: whitesmoke;
    }

    header .right ul{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    header .right li{
        transition: all 0.3s;
    }
    header .right a:not(:last-child){
        padding: 25px 5%;
        border-bottom: 1px solid rgb(192,192,192);
        width: 100%;
    }

    header .org-btn {
        display: none;
    }
    header .right ul li:hover{
        color: var(--mainOrange)
    }
    header .toggle-icon .icon.hide{
        display: none;
    }
    header .right.hide{
        display: none;
    }
}

@media only screen and (max-width: 700px){
    header .logo img{
        width: 100px;
    }
    header .toggle-icon{
        height: 30px;
        width: 30px;
    }
    header ,.fa-bars, header .fa-xmark{
        font-size: 15px;
    }
    header .right a:not(:last-child){
        padding: 10px 5%;
    }
}